// .img-show {
//     height: 500px;
//     width: 500px;
// }

.card-show {
    height: 260px
}

.fa-arrow-left {

    font-size: 50px;
}

.text-green {
    color: $primary-color;
}

.image-card {
    height: 200px;
    object-fit: cover;
}

.card {
    height: 100%;
}