#navbar {

    font-size: 25px;

    .green-title {
    color: $primary-color;
}

.blue-title {
    color: $secondary-color;
}

.logo-nav {
    height: 50px;
    position: relative;
    top: 8px;
    // margin-top: 15px;
}
}

